@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gulzar&family=Scheherazade+New:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-scheherazade: "Scheherazade New", sans-serif;
  --font-gulzar: "Gulzar", sans-serif;
  --color-background: #5a989b;
  --color-surface: #5b8c8e;

  --color-primary: #07484b;
  --color-primary-variant: #275b5e;
  --color-on-primary: #ffffff;

  --color-secondary: #1d5f65;
  --color-secondary-variant: #396a6f;
  --color-on-secondary: #e3f6f8;

  --color-accent: #085795;

  --color-error: #e53935;
  --color-on-error: #ffffff;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
